<?xml version="1.0"?>
<model>
  <name>block</name>
  <version>1.0</version>
  <sdf version="1.7">block.sdf</sdf>
  <author>
    <name>Jay Kapukotuwa</name>
    <email>j.kapukotuwa@research.ait.ie</email>
  </author>
  <description>
    A 4 cm red cube for Gazebo reach and manipulation tasks.
  </description>
</model>
